<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.zpyj.data.south.adapter.repository.ZpyjOrderMapper">
    <select id="selectOrders" resultType="com.kj.zpyj.data.domain.ZpyjOrder">
        select
        r.id as pay_id,
        r.customer_id,
        r.place_order_time,
        o.order_id
        from
        orders_ready as r
        inner join orders as o on r.id = o.pay_id
        left join order_pays as p on o.order_id = p.order_code
        where
        r.place_order_time &gt;='2024-07-14 17:36:06'
        and r.place_order_time &lt;='2024-07-15 09:29:19'
        order by
        r.place_order_time asc;
    </select>
    <select id="selectOrderItems" resultType="com.kj.zpyj.data.domain.ZpyjOrderItem">
        select oi.order_id from order_item oi where oi.count&gt;=100 group by oi.order_id
    </select>

</mapper>